.breadcrumb-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    li+li{
        margin-top: 0 !important;
    }
}

.breadcrumb-li{
    display: flex;
    color: $body-color;
    font-size: $font-size-base;
    line-height: $line-height-base;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover{
        color: $primary;
    }
    a{
        color: $body-color;
        text-decoration: none;
        &:hover{
            color: $primary;
        }
    }
}