.viking-menu{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
    box-shadow: $menu-box-shadow;
    .menu-item{
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;
        &:hover, &:focus{
            text-decoration: none;
        }
        &.is-disabled{
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }
        &.is-active, &:hover{
            color: $menu-item-active-color;
            border-bottom: $menu-border-width solid $menu-border-color;
        }
    }
}

.submenu-item{
    position: relative;
    .submenu-title {
        display: flex;
        align-items: center;
    }
    .arrow-icon {
        transition: transform .25s ease-in-out;
        margin-left: 3px;
    }
    &:hover {
        .arrow-icon {
            transform: rotate(180deg);
        }
    }
}
.is-vertical {
    .arrow-icon {
        transform: rotate(0deg) !important;
    }
}
.is-vertical.is-opened {
    .arrow-icon {
        transform: rotate(180deg) !important;
    }
}
.viking-submenu{
    opacity: 0;
    display: none;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    // transition: opacity .5s ease-in-out;
    transition: $menu-transition;
    .menu-item{
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;
        color: $body-color;
        &.is-active, &:hover{
            color: $menu-item-active-color !important;
        }
    }
}
.viking-submenu.menu-opened{
    display: block;
    opacity: 1;
}

.menu-vertical{
    flex-direction: column;
    margin: 10px 10px 0 10px;
    border-right: $menu-border-width solid $gray-300;
    .menu-item{
        border-left: $menu-border-width solid transparent;
        &.is-active, &:hover{
            border-bottom: 0px;
            border-left: $menu-border-width solid $menu-border-color;
        }
    }
}